.video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    z-index: -1;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.2);
    }
    img, video{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    input{
        width: 400px;
        max-width: 500px;
    }
    .form-group{
        position: relative;
        margin-bottom: 0;
    }
    .invalid-feedback{
        position: absolute;
        bottom: 100%;
    }
}
.table td,
.table th {
    vertical-align: middle;
    font-size: 14px;
}
.table th {
    font-size: 12px;
}
.city-title{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
.city-table {
    td:first-child{
        width: 30%;
    }
}
.time{
    line-height: 1.4;
}